<nav class="main-nav navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="brand-name navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" (click)="onNavToggle()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapsed-nav collapse navbar-collapse" [ngClass]="{'show':this.toggleService.showNav}" id="navbarNav">
        <ul class="nav navbar-nav" style="margin-left: auto;">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/upload']">Upload Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/balance']">Show outstanding balances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cash']">Cash</a>
            </li>
        </ul>
    </div>
</nav>