<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4>Upload Adis</h4>
                        <input type="file" name="" id="">
                        <button class=" d-flex btn btn-primary justify-content-center">Upload Adis</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>